		


		::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		::-webkit-scrollbar-button:start:decrement,
		::-webkit-scrollbar-button:end:increment  {
			display: none;
		}
		 
		::-webkit-scrollbar-track-piece  {
			background-color: #636668;
			-webkit-border-radius: 0px;
		}
		 
		::-webkit-scrollbar-thumb:vertical {
			-webkit-border-radius: 6px;
			background: #7a7e80;
		}
		body {

			background-color: #252526 !important;
		}
		pre, #debug {
		   background-color: #2c2c2c !important;
		   border-radius:0px !important;
		   border: none !important;
		   padding: 10px 20px;
		   margin: 0; 
		   color: #ffffe9 !important;
		   }
		.json-key {
		   color: #9ddfe9 ;
		}
		.json-value {
		   color: #00a8c6;
		}
		.json-string {
		   color: #B3FF86;
		}


	/*
		.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
			background-color: #606060;
		}
		.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
			background-color: #434343;
		}
	*/
		td { 
			vertical-align: middle !important;
			display: table-cell;
			height: 13px !important;
			min-height: 13px !important;
		}
		td img {
			max-height: 100%;
			max-width: 100%;
		}
		div.ui-pnotify-history-container.well
		{
			width: 200px !important;
		}
		#searchResults tr td {
			background: inherit;
		}
		
		.l0
		{
			background-color: #606060;
		}
		.l1
		{
			background-color: #434343;
		}
		.debugSelected, .debugSelected td
		{
			background-color: #2c2c2c !important;
		}
		
		
		.done td .statusIcon{top:1px;left:1px;
		width:46px;height:46px;background: url("../img/sprites.png") no-repeat -46px -0px;}
		.downloading td .statusIcon{top:1px;left:1px;
		width:46px;height:46px;background: url("../img/sprites.png") no-repeat -0px -46px;}
		.error td .statusIcon{top:1px;left:1px;
		width:46px;height:46px;background: url("../img/sprites.png") no-repeat -0px -0px;}

		
		
		.tabNavigator ul
		{
			position: relative;
			bottom: 0;
			top: 16px;
			margin-bottom: 0;
		}
		.tabNavigator
		{
			position: fixed;
			height: 50px;
			top: 0;
			right: 0;
			left: 0;
			background-color: #2f2f32;
			z-index: 1000;
			padding-left: 20px;
		}
		
		
		
		.navigation{
			position: fixed;
			width: 255px;
			top: 50px;
			bottom: 0;
			left: 0;
			background-color: #202327;
		}
		
		.content {
			position: absolute;
			top: 50px;
			bottom: 0;
			left: 0px;
			right: 0;
			z-index: 10;
			overflow: auto;
			box-sizing: border-box;
			/*overflow: auto;*/
		}
		.debug
		{
			width:50%;
			/*overflow: auto;*/
			/*ox-sizing: border-box;*/
		}
		
		.loader {
			/*z-index: 100;
			position: fixed;
			bottom: 0;
			left: 255px;*/
		}
		.ip{

			position: absolute;
			overflow: auto;

			box-sizing: border-box;
			/*left: 50%;*/
			top: 17px;
			right: 17px;
			z-index: 10000;

		}
		.contab {
			width: 100%;
		}
		#debugtab {
			/*width: 50%;*/
		}
		
		.fps{
		   color: #ff0000 !important;
		}
		.mem{
		   color: #008aff !important;
		}
		.ms{
		   color: #ffc600 !important;
		}
		
		.details {
			position: absolute;
			overflow: auto;
			width: 50%;
			top: 50px;
			box-sizing: border-box;
			/*left: 50%;*/
			bottom: 0;
			right: 0;
			z-index: 1;
		}

		
		.details.full
		{
			width:100%;
			left: 0px;
			/*overflow: auto;*/
			/*ox-sizing: border-box;*/
		}

		.jsonprint {


		}

		pre{
			width: 100%;
			height: 100%;
		}